.container {
    width: 40rem;
    height: 50rem;
    border-radius: 10%;
    padding: 2rem 0;
}

.card_style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1rem;
}

.card_style img {
    border: 2px solid rgb(22, 185, 22);
    border-radius: 50%;
    width: 6rem;
}