
.card_style{
    display: flex;
    justify-content:space-evenly;
    width: 30rem;
    margin: 0 auto;
    padding: 1.5rem;

    background-color:cornflowerblue;
   
}
.card_text{
    color: white;
}
.card_style img{
    border-radius: 50%;
    width: 5rem;

}
.card_style:hover{
    box-shadow: 5px 5px 10px red;
}
span{
    display:inline-block;
    margin-top: 1rem;

    
}